<!-- <p>
  doctor-page works!
</p> -->
<md-tab-group>
  <md-tab label="Log In"  md-dynamic-height md-border-bottom>
      <md-card-content>
         <form class="example-form">
      <md-form-field class="example-full-width">
         <input mdInput placeholder="User Name">
      </md-form-field>
      <md-form-field class="example-full-width">
         <input mdInput placeholder="Password">
      </md-form-field>
      <button type="submit"  md-raised-button color="primary">Login</button>
      <p class="text-right">
        <a href="#">Forgot Password?</a>
      </p>
    </form>
      </md-card-content>
   
  </md-tab>
  <md-tab label="Sign Up">
      <md-card-content>
    <form class="example-form">
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Name">
      </md-form-field>
      <md-form-field class="example-full-width">
         <input mdInput placeholder="LastName">
      </md-form-field>
      <md-form-field class="example-full-width">
         <input mdInput placeholder="Email">
      </md-form-field>
      <md-form-field class="example-full-width">
         <input mdInput placeholder="UserName">
      </md-form-field>
      <md-form-field class="example-full-width">
          <input mdInput placeholder="Password">
       </md-form-field>
      <button type="submit"   md-raised-button color="primary">Register</button>
    </form>
      </md-card-content>
  </md-tab>
</md-tab-group>

