<!-- <p>
  layouts works!
</p> -->
<div class="row">
    <div class="col-md-4 col-md-offset-4" id="card-wrapper" >
      
      <div class="login_card">
        <md-card>
          <md-card-header>
            <md-card-title>
              Logo
             <!-- <md-toolbar color ="primary">LOGO</md-toolbar> -->
            </md-card-title> 
          </md-card-header>
          
          <router-outlet></router-outlet> 
          
          <md-card-content>
              <button type="button" class="btn btn-block" md-raised-button color="primary">Click here if you are a Clinic owner  </button>
              <button type="button" class="btn btn-block" md-raised-button color="primary">Dentist Login </button>
              <button type="button" class="btn btn-block" md-raised-button color="primary">Patient Login</button>
          </md-card-content> 
        </md-card> 
      </div>
  </div>
</div>
    
