<!-- <p>
  patient-page works!
</p> -->
<form class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Name">
    </md-form-field>
    <md-form-field class="example-full-width">
        <input mdInput placeholder="Surname">
      </md-form-field>
      <md-form-field class="example-full-width">
          <input mdInput placeholder="Unique Number">
        </md-form-field>
     
      <p class="text-right">
          <a href="#">Ask for unique number</a>
      </p>
      <button type="submit"  md-raised-button color="primary">Login</button>
  </form>